notebooks/text_nn/data
notebooks/text_nn/.idea

*.pt
*.pt.gen
*.csv
*.txt
*.pyc
*.tar
*.tar.gz
notebooks/exploratory_analysis
notebooks/rationalnet_exploration/models
notebooks/rationalnet_exploration/slurm_output
notebooks/.ipynb_checkpoints
nyt_corpus
court_documents
council_meetings
bills
app/data
models/data
models/bert-hf-checkpoints
models/roberta-hf-checkpoints
models/runs
models/fairseq
models/pytorch-transformers/examples/bert-runs
models/pytorch-transformers/examples/roberta-runs
notebooks/__pycache__
