{% extends "base.html" %}
{% block style %}

.topheader{
	padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-top: 25px;

}

{% endblock %}

{% block header %}
<div class='topheader'>
	<h1>Newsworthiness Ranking Task</h1>
</div>
{% endblock %}

{% block body %}
<div class='header'>
    <p>Success! Help us with another :)</p>
</div>

<!-- <button type="button" class="btn btn-danger btn-lg another">Give me another!</button> -->
<a href="/render" class="btn btn-danger btn-lg another">Give me another!</a>

{% endblock %}

{% block script %}
<script type="text/javascript">
    // submit answers
    $('.another').click(function() { 

    })
</script>
{% endblock %}